<% include header %>
    <header>
        <h1>Projeto Final</h1>
        <h4>Algo de errado não está certo!</h4>
    </header>
    <p>
        Error:
        <br>
        <%- error.message %>
    </p>
    <hr>
    <p>Back to
        <a href="/">Produtos</a>
    </p>
<% include footer %>